---

---

<div class="social-icons" aria-label="Social icons">
    <a
        class="social-icon"
        href="https://github.com/randomguy-2650/placer-toolkit"
        rel="noreferrer noopener"
        target="_blank"
        aria-label="GitHub"
    >
        <pc-icon
            library="default"
            icon-style="brands"
            name="github"
        ></pc-icon>
    </a>
</div>

<style>
    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--pc-spacing-xs);
    }

    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: var(--pc-color-neutral-950);
        border: none;
        padding: var(--pc-spacing-xs);
        border-radius: var(--pc-border-radius-m);
        height: 100%;
        cursor: pointer;
        transition: outline var(--pc-transition-fast) ease-in-out;
    }

    .social-icon:hover,
    .social-icon:focus-visible {
        color: var(--pc-color-primary-800);
    }

    .social-icon:focus-visible {
        outline: var(--pc-focus-ring);
        outline-offset: var(--pc-focus-ring-offset);
    }

    .social-icon pc-icon {
        font-size: 20px;
    }
</style>
