.color-palette {
    display: grid;
    grid-template-columns: 200px repeat(11, 1fr);
    gap: 1rem var(--pc-spacing-xs);
    margin: 2rem 0;
}

.color-palette-name {
    font-size: var(--pc-font-size-m);
    font-weight: var(--pc-font-weight-semibold);
    grid-template-columns: repeat(11, 1fr);
}

.color-palette-name code {
    font-size: var(--pc-font-size-xs);
}

.color-palette-swatch-container {
    font-size: var(--pc-font-size-xs);
    text-align: center;
}

.color-palette-swatch {
    height: 3rem;
    border-radius: var(--pc-border-radius-m);
}

.color-palette-swatch.color-palette-swatch-with-border {
    box-shadow: inset 0 0 0 1px var(--pc-color-neutral-200);
}

@media screen and (max-width: 768px) {
    .color-palette {
        grid-template-columns: repeat(6, 1fr);
    }

    .color-palette-name {
        grid-column-start: span 6;
    }
}
