@import "./utility.css";

.pc-theme-light {
    color-scheme: light;

    /* Grey */
    --pc-color-grey-50: oklch(96% 0.004 264.5);
    --pc-color-grey-100: oklch(93.5% 0.006 264.5);
    --pc-color-grey-200: oklch(86.9% 0.014 264.5);
    --pc-color-grey-300: oklch(76.6% 0.026 264.4);
    --pc-color-grey-400: oklch(64.2% 0.044 264.2);
    --pc-color-grey-500: oklch(52.7% 0.052 264);
    --pc-color-grey-600: oklch(45% 0.045 264);
    --pc-color-grey-700: oklch(37.9% 0.039 263.9);
    --pc-color-grey-800: oklch(32.4% 0.033 263.9);
    --pc-color-grey-900: oklch(28.6% 0.029 263.9);
    --pc-color-grey-950: oklch(25.6% 0.026 264);

    /* Red */
    --pc-color-red-50: oklch(95.5% 0.022 17.5);
    --pc-color-red-100: oklch(89% 0.058 18.3);
    --pc-color-red-200: oklch(83.9% 0.085 19);
    --pc-color-red-300: oklch(70.5% 0.17 22.4);
    --pc-color-red-400: oklch(66.7% 0.187 23.7);
    --pc-color-red-500: oklch(60.1% 0.208 26.2);
    --pc-color-red-600: oklch(57.1% 0.212 27.3);
    --pc-color-red-700: oklch(49.7% 0.176 26.4);
    --pc-color-red-800: oklch(43.3% 0.143 25.5);
    --pc-color-red-900: oklch(38.7% 0.118 24.5);
    --pc-color-red-950: oklch(29.6% 0.078 23.1);

    /* Orange */
    --pc-color-orange-50: oklch(97.1% 0.017 58.1);
    --pc-color-orange-100: oklch(92.9% 0.043 57.7);
    --pc-color-orange-200: oklch(89.5% 0.063 57.4);
    --pc-color-orange-300: oklch(79.5% 0.12 55.6);
    --pc-color-orange-400: oklch(76.1% 0.132 54.8);
    --pc-color-orange-500: oklch(69.2% 0.149 52.6);
    --pc-color-orange-600: oklch(65.6% 0.154 51.1);
    --pc-color-orange-700: oklch(57.2% 0.126 52.3);
    --pc-color-orange-800: oklch(49.8% 0.102 53.3);
    --pc-color-orange-900: oklch(44.3% 0.083 54.2);
    --pc-color-orange-950: oklch(33.6% 0.055 55.2);

    /* Amber */
    --pc-color-amber-50: oklch(99.3% 0.036 107);
    --pc-color-amber-100: oklch(96.2% 0.084 100.2);
    --pc-color-amber-200: oklch(92.4% 0.136 97.3);
    --pc-color-amber-300: oklch(87.9% 0.165 91.6);
    --pc-color-amber-400: oklch(83.6% 0.17 82.6);
    --pc-color-amber-500: oklch(75.3% 0.165 67.5);
    --pc-color-amber-600: oklch(68.3% 0.159 58.5);
    --pc-color-amber-700: oklch(57.2% 0.147 49.3);
    --pc-color-amber-800: oklch(48.7% 0.125 46.3);
    --pc-color-amber-900: oklch(44.4% 0.111 46);
    --pc-color-amber-950: oklch(34.9% 0.076 48.1);

    /* Yellow */
    --pc-color-yellow-50: oklch(99.2% 0.04 107.1);
    --pc-color-yellow-100: oklch(97.9% 0.099 107.2);
    --pc-color-yellow-200: oklch(94.9% 0.147 103.7);
    --pc-color-yellow-300: oklch(90.9% 0.177 98.8);
    --pc-color-yellow-400: oklch(86.5% 0.176 90.2);
    --pc-color-yellow-500: oklch(75.9% 0.153 85.5);
    --pc-color-yellow-600: oklch(69.6% 0.143 76.3);
    --pc-color-yellow-700: oklch(56.8% 0.122 66.3);
    --pc-color-yellow-800: oklch(49.1% 0.104 61.9);
    --pc-color-yellow-900: oklch(45.3% 0.095 57.6);
    --pc-color-yellow-950: oklch(33.6% 0.057 68);

    /* Lime */
    --pc-color-lime-50: oklch(98.8% 0.041 114.5);
    --pc-color-lime-100: oklch(96.7% 0.096 121.7);
    --pc-color-lime-200: oklch(94.3% 0.151 125);
    --pc-color-lime-300: oklch(90.1% 0.2 127.4);
    --pc-color-lime-400: oklch(85.2% 0.22 129.8);
    --pc-color-lime-500: oklch(72.1% 0.188 130.7);
    --pc-color-lime-600: oklch(66.4% 0.176 131.5);
    --pc-color-lime-700: oklch(54.9% 0.142 131.3);
    --pc-color-lime-800: oklch(46.7% 0.112 130.3);
    --pc-color-lime-900: oklch(43.9% 0.101 130.9);
    --pc-color-lime-950: oklch(36.7% 0.079 129.8);

    /* Green */
    --pc-color-green-50: oklch(98% 0.03 159.5);
    --pc-color-green-100: oklch(95.3% 0.074 156.9);
    --pc-color-green-200: oklch(92% 0.11 155.1);
    --pc-color-green-300: oklch(86.8% 0.16 153.5);
    --pc-color-green-400: oklch(79.9% 0.198 150.5);
    --pc-color-green-500: oklch(68% 0.176 149.7);
    --pc-color-green-600: oklch(64.2% 0.171 149.1);
    --pc-color-green-700: oklch(54.4% 0.138 149.9);
    --pc-color-green-800: oklch(46.5% 0.109 151.1);
    --pc-color-green-900: oklch(42.6% 0.094 152.6);
    --pc-color-green-950: oklch(32.8% 0.067 154.1);

    /* Emerald */
    --pc-color-emerald-50: oklch(97.8% 0.03 172.2);
    --pc-color-emerald-100: oklch(94.7% 0.081 162.1);
    --pc-color-emerald-200: oklch(90.1% 0.112 163.2);
    --pc-color-emerald-300: oklch(84.3% 0.146 163.8);
    --pc-color-emerald-400: oklch(76.2% 0.158 162);
    --pc-color-emerald-500: oklch(64.9% 0.135 162.8);
    --pc-color-emerald-600: oklch(61.2% 0.128 163);
    --pc-color-emerald-700: oklch(52.4% 0.106 165.3);
    --pc-color-emerald-800: oklch(44.7% 0.086 167);
    --pc-color-emerald-900: oklch(41.3% 0.077 169.1);
    --pc-color-emerald-950: oklch(32% 0.058 170.7);

    /* Teal */
    --pc-color-teal-50: oklch(98.3% 0.024 196.8);
    --pc-color-teal-100: oklch(94.9% 0.073 181.2);
    --pc-color-teal-200: oklch(91% 0.112 179.5);
    --pc-color-teal-300: oklch(85.6% 0.136 180.1);
    --pc-color-teal-400: oklch(76.8% 0.131 181.4);
    --pc-color-teal-500: oklch(65.6% 0.112 182.7);
    --pc-color-teal-600: oklch(61.6% 0.104 184.9);
    --pc-color-teal-700: oklch(52.7% 0.087 185.5);
    --pc-color-teal-800: oklch(45.1% 0.07 188.2);
    --pc-color-teal-900: oklch(42% 0.062 188.6);
    --pc-color-teal-950: oklch(32.5% 0.045 189.9);

    /* Cyan */
    --pc-color-cyan-50: oklch(98.1% 0.028 196.7);
    --pc-color-cyan-100: oklch(95.5% 0.068 196.1);
    --pc-color-cyan-200: oklch(91.4% 0.096 203);
    --pc-color-cyan-300: oklch(86.6% 0.127 207.6);
    --pc-color-cyan-400: oklch(79.9% 0.137 212.9);
    --pc-color-cyan-500: oklch(67.2% 0.115 215);
    --pc-color-cyan-600: oklch(62.5% 0.111 221.8);
    --pc-color-cyan-700: oklch(53.7% 0.093 223);
    --pc-color-cyan-800: oklch(46.5% 0.077 225.4);
    --pc-color-cyan-900: oklch(42.9% 0.069 227.6);
    --pc-color-cyan-950: oklch(35% 0.052 227.4);

    /* Sky */
    --pc-color-sky-50: oklch(97.9% 0.022 204.8);
    --pc-color-sky-100: oklch(93.4% 0.043 225.6);
    --pc-color-sky-200: oklch(88.4% 0.073 227.9);
    --pc-color-sky-300: oklch(81.4% 0.117 230);
    --pc-color-sky-400: oklch(74.6% 0.149 234.9);
    --pc-color-sky-500: oklch(66.4% 0.146 238.9);
    --pc-color-sky-600: oklch(60.4% 0.138 242.2);
    --pc-color-sky-700: oklch(51.5% 0.119 243.6);
    --pc-color-sky-800: oklch(45.9% 0.1 241.8);
    --pc-color-sky-900: oklch(42.2% 0.089 242.1);
    --pc-color-sky-950: oklch(34.5% 0.065 240);

    /* Blue */
    --pc-color-blue-50: oklch(96.5% 0.017 248);
    --pc-color-blue-100: oklch(91.3% 0.044 248.3);
    --pc-color-blue-200: oklch(87% 0.064 248.6);
    --pc-color-blue-300: oklch(74.8% 0.122 249.8);
    --pc-color-blue-400: oklch(70.8% 0.135 250.3);
    --pc-color-blue-500: oklch(63.1% 0.153 251.6);
    --pc-color-blue-600: oklch(59.3% 0.159 252.5);
    --pc-color-blue-700: oklch(52.1% 0.13 251.8);
    --pc-color-blue-800: oklch(45.7% 0.104 251.2);
    --pc-color-blue-900: oklch(41% 0.085 250.7);
    --pc-color-blue-950: oklch(31.4% 0.056 250);

    /* Indigo */
    --pc-color-indigo-50: oklch(94.9% 0.024 264.5);
    --pc-color-indigo-100: oklch(88.8% 0.054 269.3);
    --pc-color-indigo-200: oklch(82.6% 0.087 272.5);
    --pc-color-indigo-300: oklch(74.1% 0.134 273.5);
    --pc-color-indigo-400: oklch(63.6% 0.192 275.2);
    --pc-color-indigo-500: oklch(54.4% 0.236 274.9);
    --pc-color-indigo-600: oklch(52.5% 0.231 277.9);
    --pc-color-indigo-700: oklch(47.2% 0.215 278.2);
    --pc-color-indigo-800: oklch(41.4% 0.178 278.8);
    --pc-color-indigo-900: oklch(38.5% 0.141 279.6);
    --pc-color-indigo-950: oklch(31.7% 0.097 282);

    /* Violet */
    --pc-color-violet-50: oklch(95.1% 0.027 298.9);
    --pc-color-violet-100: oklch(89.3% 0.058 296);
    --pc-color-violet-200: oklch(84.3% 0.086 293.4);
    --pc-color-violet-300: oklch(76.2% 0.134 292.9);
    --pc-color-violet-400: oklch(59.8% 0.235 288.8);
    --pc-color-violet-500: oklch(57.1% 0.247 290.3);
    --pc-color-violet-600: oklch(55.7% 0.247 293.9);
    --pc-color-violet-700: oklch(50.6% 0.242 293.5);
    --pc-color-violet-800: oklch(44.7% 0.212 293.5);
    --pc-color-violet-900: oklch(41.4% 0.189 294.3);
    --pc-color-violet-950: oklch(31.4% 0.123 298.1);

    /* Purple */
    --pc-color-purple-50: oklch(96.6% 0.03 325.8);
    --pc-color-purple-100: oklch(90.4% 0.065 312.3);
    --pc-color-purple-200: oklch(85.8% 0.092 309);
    --pc-color-purple-300: oklch(78.5% 0.141 307.1);
    --pc-color-purple-400: oklch(68.5% 0.209 305);
    --pc-color-purple-500: oklch(60% 0.258 302.3);
    --pc-color-purple-600: oklch(57.2% 0.254 302.7);
    --pc-color-purple-700: oklch(51% 0.238 302.3);
    --pc-color-purple-800: oklch(45.4% 0.2 304.1);
    --pc-color-purple-900: oklch(40.8% 0.173 305.3);
    --pc-color-purple-950: oklch(29% 0.102 309);

    /* Fuchsia */
    --pc-color-fuchsia-50: oklch(96.4% 0.032 325.8);
    --pc-color-fuchsia-100: oklch(91.9% 0.074 326.2);
    --pc-color-fuchsia-200: oklch(86.9% 0.111 322.5);
    --pc-color-fuchsia-300: oklch(80.3% 0.171 322.3);
    --pc-color-fuchsia-400: oklch(67.4% 0.292 321.7);
    --pc-color-fuchsia-500: oklch(65.6% 0.279 321.9);
    --pc-color-fuchsia-600: oklch(60.6% 0.257 322.9);
    --pc-color-fuchsia-700: oklch(53.3% 0.226 323.9);
    --pc-color-fuchsia-800: oklch(46.7% 0.193 324.6);
    --pc-color-fuchsia-900: oklch(43.1% 0.167 325.6);
    --pc-color-fuchsia-950: oklch(30% 0.099 325.7);

    /* Pink */
    --pc-color-pink-50: oklch(95.8% 0.03 334.4);
    --pc-color-pink-100: oklch(91.2% 0.061 340.2);
    --pc-color-pink-200: oklch(86.5% 0.093 343.5);
    --pc-color-pink-300: oklch(79.3% 0.144 347.1);
    --pc-color-pink-400: oklch(70.5% 0.203 351.1);
    --pc-color-pink-500: oklch(64.5% 0.23 356.5);
    --pc-color-pink-600: oklch(60.8% 0.219 0.5);
    --pc-color-pink-700: oklch(53.9% 0.199 4);
    --pc-color-pink-800: oklch(47.3% 0.169 3.8);
    --pc-color-pink-900: oklch(43.6% 0.149 2.6);
    --pc-color-pink-950: oklch(30.4% 0.093 0);

    /* Rose */
    --pc-color-rose-50: oklch(95.2% 0.024 9.9);
    --pc-color-rose-100: oklch(89.8% 0.054 12);
    --pc-color-rose-200: oklch(85.2% 0.082 10.1);
    --pc-color-rose-300: oklch(77.4% 0.135 12.5);
    --pc-color-rose-400: oklch(64.6% 0.241 20.9);
    --pc-color-rose-500: oklch(63.8% 0.234 19.7);
    --pc-color-rose-600: oklch(60.2% 0.222 17.8);
    --pc-color-rose-700: oklch(53% 0.198 17.1);
    --pc-color-rose-800: oklch(47% 0.171 13.7);
    --pc-color-rose-900: oklch(43.9% 0.155 10.5);
    --pc-color-rose-950: oklch(31.7% 0.101 7.5);

    /* Theme tokens */
    --pc-color-primary-50: var(--pc-color-sky-50);
    --pc-color-primary-100: var(--pc-color-sky-100);
    --pc-color-primary-200: var(--pc-color-sky-200);
    --pc-color-primary-300: var(--pc-color-sky-300);
    --pc-color-primary-400: var(--pc-color-sky-400);
    --pc-color-primary-500: var(--pc-color-sky-500);
    --pc-color-primary-600: var(--pc-color-sky-600);
    --pc-color-primary-700: var(--pc-color-sky-700);
    --pc-color-primary-800: var(--pc-color-sky-800);
    --pc-color-primary-900: var(--pc-color-sky-900);
    --pc-color-primary-950: var(--pc-color-sky-950);

    --pc-color-success-50: var(--pc-color-green-50);
    --pc-color-success-100: var(--pc-color-green-100);
    --pc-color-success-200: var(--pc-color-green-200);
    --pc-color-success-300: var(--pc-color-green-300);
    --pc-color-success-400: var(--pc-color-green-400);
    --pc-color-success-500: var(--pc-color-green-500);
    --pc-color-success-600: var(--pc-color-green-600);
    --pc-color-success-700: var(--pc-color-green-700);
    --pc-color-success-800: var(--pc-color-green-800);
    --pc-color-success-900: var(--pc-color-green-900);
    --pc-color-success-950: var(--pc-color-green-950);

    --pc-color-warning-50: var(--pc-color-amber-50);
    --pc-color-warning-100: var(--pc-color-amber-100);
    --pc-color-warning-200: var(--pc-color-amber-200);
    --pc-color-warning-300: var(--pc-color-amber-300);
    --pc-color-warning-400: var(--pc-color-amber-400);
    --pc-color-warning-500: var(--pc-color-amber-500);
    --pc-color-warning-600: var(--pc-color-amber-600);
    --pc-color-warning-700: var(--pc-color-amber-700);
    --pc-color-warning-800: var(--pc-color-amber-800);
    --pc-color-warning-900: var(--pc-color-amber-900);
    --pc-color-warning-950: var(--pc-color-amber-950);

    --pc-color-danger-50: var(--pc-color-red-50);
    --pc-color-danger-100: var(--pc-color-red-100);
    --pc-color-danger-200: var(--pc-color-red-200);
    --pc-color-danger-300: var(--pc-color-red-300);
    --pc-color-danger-400: var(--pc-color-red-400);
    --pc-color-danger-500: var(--pc-color-red-500);
    --pc-color-danger-600: var(--pc-color-red-600);
    --pc-color-danger-700: var(--pc-color-red-700);
    --pc-color-danger-800: var(--pc-color-red-800);
    --pc-color-danger-900: var(--pc-color-red-900);
    --pc-color-danger-950: var(--pc-color-red-950);

    --pc-color-neutral-50: var(--pc-color-grey-50);
    --pc-color-neutral-100: var(--pc-color-grey-100);
    --pc-color-neutral-200: var(--pc-color-grey-200);
    --pc-color-neutral-300: var(--pc-color-grey-300);
    --pc-color-neutral-400: var(--pc-color-grey-400);
    --pc-color-neutral-500: var(--pc-color-grey-500);
    --pc-color-neutral-600: var(--pc-color-grey-600);
    --pc-color-neutral-700: var(--pc-color-grey-700);
    --pc-color-neutral-800: var(--pc-color-grey-800);
    --pc-color-neutral-900: var(--pc-color-grey-900);
    --pc-color-neutral-950: var(--pc-color-grey-950);

    /* Neutral one-offs */
    --pc-color-neutral-0: oklch(100% 0 0);
    --pc-color-neutral-1000: oklch(22% 0.012 264.3);

    /* Border radii */
    --pc-border-radius-s: 0.25rem; /* 4px */
    --pc-border-radius-m: 0.5rem; /* 8px */
    --pc-border-radius-l: 0.75rem; /* 12px */
    --pc-border-radius-xl: 1rem; /* 16px */

    --pc-border-radius-circle: 50%;
    --pc-border-radius-pill: 10000px;

    /* Shadows */
    --pc-shadow-xs: 0 1px 2px rgb(0 0 0 / 8%);
    --pc-shadow-s: 0 1px 2px rgb(0 0 0 / 12%);
    --pc-shadow-m: 0 2px 4px rgb(0 0 0 / 12%);
    --pc-shadow-l: 0 2px 8px rgb(0 0 0 / 12%);
    --pc-shadow-xl: 0 4px 16px rgb(0 0 0 / 12%);

    /* Spacing */
    --pc-spacing-xxxs: 0.0625rem; /* 1px */
    --pc-spacing-xxs: 0.125rem; /* 2px */
    --pc-spacing-xs: 0.25rem; /* 4px */
    --pc-spacing-s: 0.5rem; /* 8px */
    --pc-spacing-m: 0.75rem; /* 12px */
    --pc-spacing-l: 1rem; /* 16px */
    --pc-spacing-xl: 1.25rem; /* 20px */
    --pc-spacing-xxl: 1.75rem; /* 28px */
    --pc-spacing-xxxl: 2.25rem; /* 36px */
    --pc-spacing-xxxxl: 3rem; /* 48px */
    --pc-spacing-xxxxxl: 4.5rem; /* 72px */

    /* Transitions */
    --pc-transition-extra-fast: 0.1s;
    --pc-transition-fast: 0.15s;
    --pc-transition-medium: 0.3s;
    --pc-transition-slow: 0.5s;
    --pc-transition-extra-slow: 0.75s;

    /* Typography */
    --pc-font-sans: "Quicksand", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI Variable", "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --pc-font-serif: "Playfair Display", "Georgia", "Times New Roman", serif;
    --pc-font-mono: "JetBrains Mono", "Source Code Pro", "IBM Plex Mono",
        "Consolas", "Menlo", monospace;

    --pc-font-size-xxs: 0.625rem; /* 10px */
    --pc-font-size-xs: 0.75rem; /* 12px */
    --pc-font-size-s: 0.875rem; /* 14px */
    --pc-font-size-m: 1rem; /* 16px */
    --pc-font-size-l: 1.25rem; /* 20px */
    --pc-font-size-xl: 1.5rem; /* 24px */
    --pc-font-size-xxl: 2rem; /* 32px */
    --pc-font-size-xxxl: 2.5rem; /* 40px */
    --pc-font-size-xxxxl: 4rem; /* 64px */

    --pc-font-weight-light: 300;
    --pc-font-weight-normal: 400;
    --pc-font-weight-medium: 500;
    --pc-font-weight-semibold: 600;
    --pc-font-weight-bold: 700;

    --pc-letter-spacing-denser: -0.03em;
    --pc-letter-spacing-dense: -0.015em;
    --pc-letter-spacing-normal: normal;
    --pc-letter-spacing-loose: 0.075em;
    --pc-letter-spacing-looser: 0.15em;

    --pc-line-height-denser: 1;
    --pc-line-height-dense: 1.4;
    --pc-line-height-normal: 1.8;
    --pc-line-height-loose: 2.2;
    --pc-line-height-looser: 2.6;

    --pc-focus-ring-width: 3px;
    --pc-focus-ring-style: solid;
    --pc-focus-ring-color: var(--pc-color-primary-600);
    --pc-focus-ring: var(--pc-focus-ring-width) var(--pc-focus-ring-style)
        var(--pc-focus-ring-color);
    --pc-focus-ring-offset: 1px;

    /* Forms */
    --pc-button-font-size-s: var(--pc-font-size-xs);
    --pc-button-font-size-m: var(--pc-font-size-s);
    --pc-button-font-size-l: var(--pc-font-size-m);

    --pc-input-height-s: 1.75rem; /* 28px */
    --pc-input-height-m: 2.25rem; /* 36px */
    --pc-input-height-l: 3rem; /* 48px */

    --pc-input-background-color: var(--pc-color-neutral-50);
    --pc-input-background-color-hover: var(--pc-color-neutral-50);
    --pc-input-background-color-focus: var(--pc-color-neutral-0);
    --pc-input-background-color-disabled: var(--pc-color-neutral-100);
    --pc-input-border-color: var(--pc-color-neutral-300);
    --pc-input-border-color-hover: var(--pc-color-neutral-400);
    --pc-input-border-color-active: var(--pc-color-neutral-200);
    --pc-input-border-color-disabled: var(--pc-color-neutral-400);
    --pc-input-border-width: 1px;
    --pc-input-required-content: "*";
    --pc-input-required-content-offset: -2px;
    --pc-input-required-content-color: var(--pc-color-danger-600);

    --pc-input-border-radius-s: var(--pc-border-radius-m);
    --pc-input-border-radius-m: var(--pc-border-radius-m);
    --pc-input-border-radius-l: var(--pc-border-radius-l);

    --pc-input-font-family: var(--pc-font-sans);
    --pc-input-font-weight: var(--pc-font-weight-normal);
    --pc-input-font-size-s: var(--pc-font-size-s);
    --pc-input-font-size-m: var(--pc-font-size-m);
    --pc-input-font-size-l: var(--pc-font-size-l);
    --pc-input-letter-spacing: var(--pc-letter-spacing-normal);

    --pc-input-color: var(--pc-color-neutral-700);
    --pc-input-color-hover: var(--pc-color-neutral-900);
    --pc-input-color-focus: var(--pc-color-neutral-900);
    --pc-input-color-disabled: var(--pc-color-neutral-700);
    --pc-input-icon-color: var(--pc-color-neutral-600);
    --pc-input-icon-color-hover: var(--pc-color-neutral-700);
    --pc-input-icon-color-active: var(--pc-color-neutral-500);
    --pc-input-icon-color-focus: var(--pc-color-neutral-700);
    --pc-input-placeholder-color: var(--pc-color-neutral-500);
    --pc-input-placeholder-color-disabled: var(--pc-color-neutral-600);
    --pc-input-spacing-s: var(--pc-spacing-s);
    --pc-input-spacing-m: var(--pc-spacing-m);
    --pc-input-spacing-l: var(--pc-spacing-l);

    --pc-input-filled-background-color: var(--pc-color-neutral-100);
    --pc-input-filled-background-color-hover: var(--pc-color-neutral-200);
    --pc-input-filled-background-color-focus: var(--pc-color-neutral-100);
    --pc-input-filled-background-color-disabled: var(--pc-color-neutral-100);
    --pc-input-filled-color: var(--pc-color-neutral-900);
    --pc-input-filled-color-hover: var(--pc-color-neutral-900);
    --pc-input-filled-color-focus: var(--pc-color-neutral-900);
    --pc-input-filled-color-disabled: var(--pc-color-neutral-800);

    --pc-input-label-font-size-s: var(--pc-font-size-s);
    --pc-input-label-font-size-m: var(--pc-font-size-m);
    --pc-input-label-font-size-l: var(--pc-font-size-l);
    --pc-input-label-color: inherit;

    --pc-input-hint-font-size-s: var(--pc-font-size-xs);
    --pc-input-hint-font-size-m: var(--pc-font-size-s);
    --pc-input-hint-font-size-l: var(--pc-font-size-m);
    --pc-input-hint-color: var(--pc-color-neutral-600);

    --pc-toggle-size-s: 0.875rem; /* 14px */
    --pc-toggle-size-m: 1.125rem; /* 18px */
    --pc-toggle-size-l: 1.375rem; /* 22px */

    /* Overlays */
    --pc-overlay-background-color: rgb(220 220 220 / 70%);

    /* Panels */
    --pc-panel-background-color: var(--pc-color-neutral-50);
    --pc-panel-border-color: var(--pc-color-neutral-200);
    --pc-panel-border-width: 1px;

    /* Tooltips */
    --pc-tooltip-border-radius: var(--pc-border-radius-s);
    --pc-tooltip-background-color: var(--pc-color-neutral-200);
    --pc-tooltip-color: var(--pc-color-neutral-950);
    --pc-tooltip-font-family: var(--pc-font-sans);
    --pc-tooltip-font-weight: var(--pc-font-weight-medium);
    --pc-tooltip-font-size: var(--pc-font-size-s);
    --pc-tooltip-line-height: var(--pc-line-height-dense);
    --pc-tooltip-padding: var(--pc-spacing-xs) var(--pc-spacing-s);
    --pc-tooltip-arrow-size: 6px;

    /* Z‐index */
    --pc-z-index-drawer: 700;
    --pc-z-index-dialog: 800;
    --pc-z-index-dropdown: 900;
    --pc-z-index-toast: 950;
    --pc-z-index-tooltip: 1000;
}

.pc-theme-dark {
    color-scheme: dark;

    /* Grey */
    --pc-color-grey-50: oklch(26.1% 0.015 264.3);
    --pc-color-grey-100: oklch(29% 0.019 264.2);
    --pc-color-grey-200: oklch(32.8% 0.024 264.2);
    --pc-color-grey-300: oklch(38.3% 0.031 264.1);
    --pc-color-grey-400: oklch(45.2% 0.041 264);
    --pc-color-grey-500: oklch(52.7% 0.052 264);
    --pc-color-grey-600: oklch(64% 0.048 264.1);
    --pc-color-grey-700: oklch(76.3% 0.032 264.4);
    --pc-color-grey-800: oklch(86.6% 0.019 264.5);
    --pc-color-grey-900: oklch(93.3% 0.009 264.5);
    --pc-color-grey-950: oklch(96.7% 0.005 264.5);

    /* Red */
    --pc-color-red-50: oklch(29.6% 0.078 23.1);
    --pc-color-red-100: oklch(38.7% 0.118 24.5);
    --pc-color-red-200: oklch(43.3% 0.143 25.5);
    --pc-color-red-300: oklch(49.7% 0.176 26.4);
    --pc-color-red-400: oklch(57.1% 0.212 27.3);
    --pc-color-red-500: oklch(60.1% 0.208 26.2);
    --pc-color-red-600: oklch(66.7% 0.187 23.7);
    --pc-color-red-700: oklch(70.5% 0.17 22.4);
    --pc-color-red-800: oklch(83.9% 0.085 19);
    --pc-color-red-900: oklch(89% 0.058 18.3);
    --pc-color-red-950: oklch(95.5% 0.022 17.5);

    /* Orange */
    --pc-color-orange-50: oklch(33.6% 0.055 55.2);
    --pc-color-orange-100: oklch(44.3% 0.083 54.2);
    --pc-color-orange-200: oklch(49.8% 0.102 53.3);
    --pc-color-orange-300: oklch(57.2% 0.126 52.3);
    --pc-color-orange-400: oklch(65.6% 0.154 51.1);
    --pc-color-orange-500: oklch(69.2% 0.149 52.6);
    --pc-color-orange-600: oklch(76.1% 0.132 54.8);
    --pc-color-orange-700: oklch(79.5% 0.12 55.6);
    --pc-color-orange-800: oklch(89.5% 0.063 57.4);
    --pc-color-orange-900: oklch(92.9% 0.043 57.7);
    --pc-color-orange-950: oklch(97.1% 0.017 58.1);

    /* Amber */
    --pc-color-amber-50: oklch(34.9% 0.076 48.1);
    --pc-color-amber-100: oklch(44.4% 0.111 46);
    --pc-color-amber-200: oklch(48.7% 0.125 46.3);
    --pc-color-amber-300: oklch(57.2% 0.147 49.3);
    --pc-color-amber-400: oklch(68.3% 0.159 58.5);
    --pc-color-amber-500: oklch(75.3% 0.165 67.5);
    --pc-color-amber-600: oklch(83.6% 0.17 82.6);
    --pc-color-amber-700: oklch(87.9% 0.165 91.6);
    --pc-color-amber-800: oklch(92.4% 0.136 97.3);
    --pc-color-amber-900: oklch(96.2% 0.084 100.2);
    --pc-color-amber-950: oklch(99.3% 0.036 107);

    /* Yellow */
    --pc-color-yellow-50: oklch(33.6% 0.057 68);
    --pc-color-yellow-100: oklch(45.3% 0.095 57.6);
    --pc-color-yellow-200: oklch(49.1% 0.104 61.9);
    --pc-color-yellow-300: oklch(56.8% 0.122 66.3);
    --pc-color-yellow-400: oklch(69.6% 0.143 76.3);
    --pc-color-yellow-500: oklch(75.9% 0.153 85.5);
    --pc-color-yellow-600: oklch(86.5% 0.176 90.2);
    --pc-color-yellow-700: oklch(90.9% 0.177 98.8);
    --pc-color-yellow-800: oklch(94.9% 0.147 103.7);
    --pc-color-yellow-900: oklch(97.9% 0.099 107.2);
    --pc-color-yellow-950: oklch(99.2% 0.04 107.1);

    /* Lime */
    --pc-color-lime-50: oklch(36.7% 0.079 129.8);
    --pc-color-lime-100: oklch(43.9% 0.101 130.9);
    --pc-color-lime-200: oklch(46.7% 0.112 130.3);
    --pc-color-lime-300: oklch(54.9% 0.142 131.3);
    --pc-color-lime-400: oklch(66.4% 0.176 131.5);
    --pc-color-lime-500: oklch(72.1% 0.188 130.7);
    --pc-color-lime-600: oklch(85.2% 0.22 129.8);
    --pc-color-lime-700: oklch(90.1% 0.2 127.4);
    --pc-color-lime-800: oklch(94.3% 0.151 125);
    --pc-color-lime-900: oklch(96.7% 0.096 121.7);
    --pc-color-lime-950: oklch(98.8% 0.041 114.5);

    /* Green */
    --pc-color-green-50: oklch(32.8% 0.067 154.1);
    --pc-color-green-100: oklch(42.6% 0.094 152.6);
    --pc-color-green-200: oklch(46.5% 0.109 151.1);
    --pc-color-green-300: oklch(54.4% 0.138 149.9);
    --pc-color-green-400: oklch(64.2% 0.171 149.1);
    --pc-color-green-500: oklch(68% 0.176 149.7);
    --pc-color-green-600: oklch(79.9% 0.198 150.5);
    --pc-color-green-700: oklch(86.8% 0.16 153.5);
    --pc-color-green-800: oklch(92% 0.11 155.1);
    --pc-color-green-900: oklch(95.3% 0.074 156.9);
    --pc-color-green-950: oklch(98% 0.03 159.5);

    /* Emerald */
    --pc-color-emerald-50: oklch(32% 0.058 170.7);
    --pc-color-emerald-100: oklch(41.3% 0.077 169.1);
    --pc-color-emerald-200: oklch(44.7% 0.086 167);
    --pc-color-emerald-300: oklch(52.4% 0.106 165.3);
    --pc-color-emerald-400: oklch(61.2% 0.128 163);
    --pc-color-emerald-500: oklch(64.9% 0.135 162.8);
    --pc-color-emerald-600: oklch(76.2% 0.158 162);
    --pc-color-emerald-700: oklch(84.3% 0.146 163.8);
    --pc-color-emerald-800: oklch(90.1% 0.112 163.2);
    --pc-color-emerald-900: oklch(94.7% 0.081 162.1);
    --pc-color-emerald-950: oklch(97.8% 0.03 172.2);

    /* Teal */
    --pc-color-teal-50: oklch(32.5% 0.045 189.9);
    --pc-color-teal-100: oklch(42% 0.062 188.6);
    --pc-color-teal-200: oklch(45.1% 0.07 188.2);
    --pc-color-teal-300: oklch(52.7% 0.087 185.5);
    --pc-color-teal-400: oklch(61.6% 0.104 184.9);
    --pc-color-teal-500: oklch(65.6% 0.112 182.7);
    --pc-color-teal-600: oklch(76.8% 0.131 181.4);
    --pc-color-teal-700: oklch(85.6% 0.136 180.1);
    --pc-color-teal-800: oklch(91% 0.112 179.5);
    --pc-color-teal-900: oklch(94.9% 0.073 181.2);
    --pc-color-teal-950: oklch(98.3% 0.024 196.8);

    /* Cyan */
    --pc-color-cyan-50: oklch(35% 0.052 227.4);
    --pc-color-cyan-100: oklch(42.9% 0.069 227.6);
    --pc-color-cyan-200: oklch(46.5% 0.077 225.4);
    --pc-color-cyan-300: oklch(53.7% 0.093 223);
    --pc-color-cyan-400: oklch(62.5% 0.111 221.8);
    --pc-color-cyan-500: oklch(67.2% 0.115 215);
    --pc-color-cyan-600: oklch(79.9% 0.137 212.9);
    --pc-color-cyan-700: oklch(86.6% 0.127 207.6);
    --pc-color-cyan-800: oklch(91.4% 0.096 203);
    --pc-color-cyan-900: oklch(95.5% 0.068 196.1);
    --pc-color-cyan-950: oklch(98.1% 0.028 196.7);

    /* Sky */
    --pc-color-sky-50: oklch(34.5% 0.065 240);
    --pc-color-sky-100: oklch(42.2% 0.089 242.1);
    --pc-color-sky-200: oklch(45.9% 0.1 241.8);
    --pc-color-sky-300: oklch(51.5% 0.119 243.6);
    --pc-color-sky-400: oklch(60.4% 0.138 242.2);
    --pc-color-sky-500: oklch(66.4% 0.146 238.9);
    --pc-color-sky-600: oklch(74.6% 0.149 234.9);
    --pc-color-sky-700: oklch(81.4% 0.117 230);
    --pc-color-sky-800: oklch(88.4% 0.073 227.9);
    --pc-color-sky-900: oklch(93.2% 0.043 226.6);
    --pc-color-sky-950: oklch(97.9% 0.022 204.8);

    /* Blue */
    --pc-color-blue-50: oklch(31.4% 0.056 250);
    --pc-color-blue-100: oklch(41% 0.085 250.7);
    --pc-color-blue-200: oklch(45.7% 0.104 251.2);
    --pc-color-blue-300: oklch(52.1% 0.13 251.8);
    --pc-color-blue-400: oklch(59.3% 0.159 252.5);
    --pc-color-blue-500: oklch(63.1% 0.153 251.6);
    --pc-color-blue-600: oklch(70.8% 0.135 250.3);
    --pc-color-blue-700: oklch(74.8% 0.122 249.8);
    --pc-color-blue-800: oklch(87% 0.064 248.6);
    --pc-color-blue-900: oklch(91.3% 0.044 248.3);
    --pc-color-blue-950: oklch(96.5% 0.017 248);

    /* Indigo */
    --pc-color-indigo-50: oklch(31.7% 0.097 282);
    --pc-color-indigo-100: oklch(38.5% 0.141 279.6);
    --pc-color-indigo-200: oklch(41.4% 0.178 278.8);
    --pc-color-indigo-300: oklch(47.2% 0.215 278.2);
    --pc-color-indigo-400: oklch(52.5% 0.231 277.9);
    --pc-color-indigo-500: oklch(54.4% 0.236 274.9);
    --pc-color-indigo-600: oklch(63.6% 0.192 275.2);
    --pc-color-indigo-700: oklch(74.1% 0.134 273.5);
    --pc-color-indigo-800: oklch(82.6% 0.087 272.5);
    --pc-color-indigo-900: oklch(88.8% 0.054 269.3);
    --pc-color-indigo-950: oklch(94.9% 0.024 264.5);

    /* Violet */
    --pc-color-violet-50: oklch(31.4% 0.123 298.1);
    --pc-color-violet-100: oklch(41.4% 0.189 294.3);
    --pc-color-violet-200: oklch(44.7% 0.212 293.5);
    --pc-color-violet-300: oklch(50.6% 0.242 293.5);
    --pc-color-violet-400: oklch(55.7% 0.247 293.9);
    --pc-color-violet-500: oklch(57.1% 0.247 290.3);
    --pc-color-violet-600: oklch(59.8% 0.235 288.8);
    --pc-color-violet-700: oklch(76.2% 0.134 292.9);
    --pc-color-violet-800: oklch(84.3% 0.086 293.4);
    --pc-color-violet-900: oklch(89.3% 0.058 296);
    --pc-color-violet-950: oklch(95.1% 0.027 298.9);

    /* Purple */
    --pc-color-purple-50: oklch(29% 0.102 309);
    --pc-color-purple-100: oklch(40.8% 0.173 305.3);
    --pc-color-purple-200: oklch(45.4% 0.2 304.1);
    --pc-color-purple-300: oklch(51% 0.238 302.3);
    --pc-color-purple-400: oklch(57.2% 0.254 302.7);
    --pc-color-purple-500: oklch(60% 0.258 302.3);
    --pc-color-purple-600: oklch(68.5% 0.209 305);
    --pc-color-purple-700: oklch(78.5% 0.141 307.1);
    --pc-color-purple-800: oklch(85.8% 0.092 309);
    --pc-color-purple-900: oklch(90.4% 0.065 312.3);
    --pc-color-purple-950: oklch(96.6% 0.03 325.8);

    /* Fuchsia */
    --pc-color-fuchsia-50: oklch(30% 0.099 325.7);
    --pc-color-fuchsia-100: oklch(43.1% 0.167 325.6);
    --pc-color-fuchsia-200: oklch(46.7% 0.193 324.6);
    --pc-color-fuchsia-300: oklch(53.3% 0.226 323.9);
    --pc-color-fuchsia-400: oklch(60.6% 0.257 322.9);
    --pc-color-fuchsia-500: oklch(65.6% 0.279 321.9);
    --pc-color-fuchsia-600: oklch(67.4% 0.292 321.7);
    --pc-color-fuchsia-700: oklch(80.3% 0.171 322.3);
    --pc-color-fuchsia-800: oklch(86.9% 0.111 322.5);
    --pc-color-fuchsia-900: oklch(91.9% 0.074 326.2);
    --pc-color-fuchsia-950: oklch(96.4% 0.032 325.8);

    /* Pink */
    --pc-color-pink-50: oklch(30.4% 0.093 0);
    --pc-color-pink-100: oklch(43.6% 0.149 2.6);
    --pc-color-pink-200: oklch(47.3% 0.169 3.8);
    --pc-color-pink-300: oklch(53.9% 0.199 4);
    --pc-color-pink-400: oklch(60.8% 0.219 0.5);
    --pc-color-pink-500: oklch(64.5% 0.23 356.5);
    --pc-color-pink-600: oklch(70.5% 0.203 351.1);
    --pc-color-pink-700: oklch(79.3% 0.144 347.1);
    --pc-color-pink-800: oklch(86.5% 0.093 343.5);
    --pc-color-pink-900: oklch(91.2% 0.061 340.2);
    --pc-color-pink-950: oklch(95.8% 0.03 334.4);

    /* Rose */
    --pc-color-rose-50: oklch(31.7% 0.101 7.5);
    --pc-color-rose-100: oklch(43.9% 0.155 10.5);
    --pc-color-rose-200: oklch(47% 0.171 13.7);
    --pc-color-rose-300: oklch(53% 0.198 17.1);
    --pc-color-rose-400: oklch(60.2% 0.222 17.8);
    --pc-color-rose-500: oklch(63.8% 0.234 19.7);
    --pc-color-rose-600: oklch(64.6% 0.241 20.9);
    --pc-color-rose-700: oklch(77.4% 0.135 12.5);
    --pc-color-rose-800: oklch(85.2% 0.082 10.1);
    --pc-color-rose-900: oklch(89.8% 0.054 12);
    --pc-color-rose-950: oklch(95.2% 0.024 9.9);

    /* Theme tokens */
    --pc-color-primary-50: var(--pc-color-sky-50);
    --pc-color-primary-100: var(--pc-color-sky-100);
    --pc-color-primary-200: var(--pc-color-sky-200);
    --pc-color-primary-300: var(--pc-color-sky-300);
    --pc-color-primary-400: var(--pc-color-sky-400);
    --pc-color-primary-500: var(--pc-color-sky-500);
    --pc-color-primary-600: var(--pc-color-sky-600);
    --pc-color-primary-700: var(--pc-color-sky-700);
    --pc-color-primary-800: var(--pc-color-sky-800);
    --pc-color-primary-900: var(--pc-color-sky-900);
    --pc-color-primary-950: var(--pc-color-sky-950);

    --pc-color-success-50: var(--pc-color-green-50);
    --pc-color-success-100: var(--pc-color-green-100);
    --pc-color-success-200: var(--pc-color-green-200);
    --pc-color-success-300: var(--pc-color-green-300);
    --pc-color-success-400: var(--pc-color-green-400);
    --pc-color-success-500: var(--pc-color-green-500);
    --pc-color-success-600: var(--pc-color-green-600);
    --pc-color-success-700: var(--pc-color-green-700);
    --pc-color-success-800: var(--pc-color-green-800);
    --pc-color-success-900: var(--pc-color-green-900);
    --pc-color-success-950: var(--pc-color-green-950);

    --pc-color-warning-50: var(--pc-color-amber-50);
    --pc-color-warning-100: var(--pc-color-amber-100);
    --pc-color-warning-200: var(--pc-color-amber-200);
    --pc-color-warning-300: var(--pc-color-amber-300);
    --pc-color-warning-400: var(--pc-color-amber-400);
    --pc-color-warning-500: var(--pc-color-amber-500);
    --pc-color-warning-600: var(--pc-color-amber-600);
    --pc-color-warning-700: var(--pc-color-amber-700);
    --pc-color-warning-800: var(--pc-color-amber-800);
    --pc-color-warning-900: var(--pc-color-amber-900);
    --pc-color-warning-950: var(--pc-color-amber-950);

    --pc-color-danger-50: var(--pc-color-red-50);
    --pc-color-danger-100: var(--pc-color-red-100);
    --pc-color-danger-200: var(--pc-color-red-200);
    --pc-color-danger-300: var(--pc-color-red-300);
    --pc-color-danger-400: var(--pc-color-red-400);
    --pc-color-danger-500: var(--pc-color-red-500);
    --pc-color-danger-600: var(--pc-color-red-600);
    --pc-color-danger-700: var(--pc-color-red-700);
    --pc-color-danger-800: var(--pc-color-red-800);
    --pc-color-danger-900: var(--pc-color-red-900);
    --pc-color-danger-950: var(--pc-color-red-950);

    --pc-color-neutral-50: var(--pc-color-grey-50);
    --pc-color-neutral-100: var(--pc-color-grey-100);
    --pc-color-neutral-200: var(--pc-color-grey-200);
    --pc-color-neutral-300: var(--pc-color-grey-300);
    --pc-color-neutral-400: var(--pc-color-grey-400);
    --pc-color-neutral-500: var(--pc-color-grey-500);
    --pc-color-neutral-600: var(--pc-color-grey-600);
    --pc-color-neutral-700: var(--pc-color-grey-700);
    --pc-color-neutral-800: var(--pc-color-grey-800);
    --pc-color-neutral-900: var(--pc-color-grey-900);
    --pc-color-neutral-950: var(--pc-color-grey-950);

    /* Neutral one-offs */
    --pc-color-neutral-0: oklch(22% 0.012 264.3);
    --pc-color-neutral-1000: oklch(100% 0 0);

    /* Border radii */
    --pc-border-radius-s: 0.25rem; /* 4px */
    --pc-border-radius-m: 0.5rem; /* 8px */
    --pc-border-radius-l: 0.75rem; /* 12px */
    --pc-border-radius-xl: 1rem; /* 16px */

    --pc-border-radius-circle: 50%;
    --pc-border-radius-pill: 10000px;

    /* Shadows */
    --pc-shadow-xs: 0 1px 2px rgb(0 0 0 / 18%);
    --pc-shadow-s: 0 1px 2px rgb(0 0 0 / 24%);
    --pc-shadow-m: 0 2px 4px rgb(0 0 0 / 24%);
    --pc-shadow-l: 0 2px 8px rgb(0 0 0 / 24%);
    --pc-shadow-xl: 0 4px 16px rgb(0 0 0 / 24%);

    /* Spacing */
    --pc-spacing-xxxs: 0.0625rem; /* 1px */
    --pc-spacing-xxs: 0.125rem; /* 2px */
    --pc-spacing-xs: 0.25rem; /* 4px */
    --pc-spacing-s: 0.5rem; /* 8px */
    --pc-spacing-m: 0.75rem; /* 12px */
    --pc-spacing-l: 1rem; /* 16px */
    --pc-spacing-xl: 1.25rem; /* 20px */
    --pc-spacing-xxl: 1.75rem; /* 28px */
    --pc-spacing-xxxl: 2.25rem; /* 36px */
    --pc-spacing-xxxxl: 3rem; /* 48px */
    --pc-spacing-xxxxxl: 4.5rem; /* 72px */

    /* Transitions */
    --pc-transition-extra-fast: 0.1s;
    --pc-transition-fast: 0.15s;
    --pc-transition-medium: 0.3s;
    --pc-transition-slow: 0.5s;
    --pc-transition-extra-slow: 0.75s;

    /* Typography */
    --pc-font-sans: "Quicksand", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI Variable", "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --pc-font-serif: "Playfair Display", "Georgia", "Times New Roman", serif;
    --pc-font-mono: "JetBrains Mono", "Source Code Pro", "IBM Plex Mono",
        "Consolas", "Menlo", monospace;

    --pc-font-size-xxs: 0.625rem; /* 10px */
    --pc-font-size-xs: 0.75rem; /* 12px */
    --pc-font-size-s: 0.875rem; /* 14px */
    --pc-font-size-m: 1rem; /* 16px */
    --pc-font-size-l: 1.25rem; /* 20px */
    --pc-font-size-xl: 1.5rem; /* 24px */
    --pc-font-size-xxl: 2rem; /* 32px */
    --pc-font-size-xxxl: 2.5rem; /* 40px */
    --pc-font-size-xxxxl: 4rem; /* 64px */

    --pc-font-weight-light: 300;
    --pc-font-weight-normal: 400;
    --pc-font-weight-medium: 500;
    --pc-font-weight-semibold: 600;
    --pc-font-weight-bold: 700;

    --pc-letter-spacing-denser: -0.03em;
    --pc-letter-spacing-dense: -0.015em;
    --pc-letter-spacing-normal: normal;
    --pc-letter-spacing-loose: 0.075em;
    --pc-letter-spacing-looser: 0.15em;

    --pc-line-height-denser: 1;
    --pc-line-height-dense: 1.4;
    --pc-line-height-normal: 1.8;
    --pc-line-height-loose: 2.2;
    --pc-line-height-looser: 2.6;

    --pc-focus-ring-color: var(--pc-color-primary-600);
    --pc-focus-ring-width: 3px;
    --pc-focus-ring-style: solid;
    --pc-focus-ring: var(--pc-focus-ring-width) var(--pc-focus-ring-style)
        var(--pc-focus-ring-color);
    --pc-focus-ring-offset: 1px;

    /* Forms */
    --pc-button-font-size-s: var(--pc-font-size-xs);
    --pc-button-font-size-m: var(--pc-font-size-s);
    --pc-button-font-size-l: var(--pc-font-size-m);

    --pc-input-height-s: 1.75rem; /* 28px */
    --pc-input-height-m: 2.25rem; /* 36px */
    --pc-input-height-l: 3rem; /* 48px */

    --pc-input-background-color: var(--pc-color-neutral-50);
    --pc-input-background-color-hover: var(--pc-color-neutral-100);
    --pc-input-background-color-focus: var(--pc-color-neutral-50);
    --pc-input-background-color-disabled: var(--pc-color-neutral-100);
    --pc-input-border-color: var(--pc-color-neutral-300);
    --pc-input-border-color-hover: var(--pc-color-neutral-400);
    --pc-input-border-color-active: var(--pc-color-neutral-200);
    --pc-input-border-color-disabled: var(--pc-color-neutral-400);
    --pc-input-border-width: 1px;
    --pc-input-required-content: "*";
    --pc-input-required-content-offset: -2px;
    --pc-input-required-content-color: var(--pc-color-danger-600);

    --pc-input-border-radius-s: var(--pc-border-radius-m);
    --pc-input-border-radius-m: var(--pc-border-radius-m);
    --pc-input-border-radius-l: var(--pc-border-radius-l);

    --pc-input-font-family: var(--pc-font-sans);
    --pc-input-font-weight: var(--pc-font-weight-normal);
    --pc-input-font-size-s: var(--pc-font-size-s);
    --pc-input-font-size-m: var(--pc-font-size-m);
    --pc-input-font-size-l: var(--pc-font-size-l);
    --pc-input-letter-spacing: var(--pc-letter-spacing-normal);

    --pc-input-color: var(--pc-color-neutral-700);
    --pc-input-color-hover: var(--pc-color-neutral-700);
    --pc-input-color-focus: var(--pc-color-neutral-700);
    --pc-input-color-disabled: var(--pc-color-neutral-900);
    --pc-input-icon-color: var(--pc-color-neutral-500);
    --pc-input-icon-color-hover: var(--pc-color-neutral-600);
    --pc-input-icon-color-active: var(--pc-color-neutral-400);
    --pc-input-icon-color-focus: var(--pc-color-neutral-600);
    --pc-input-placeholder-color: var(--pc-color-neutral-500);
    --pc-input-placeholder-color-disabled: var(--pc-color-neutral-600);
    --pc-input-spacing-s: var(--pc-spacing-s);
    --pc-input-spacing-m: var(--pc-spacing-m);
    --pc-input-spacing-l: var(--pc-spacing-l);

    --pc-input-filled-background-color: var(--pc-color-neutral-100);
    --pc-input-filled-background-color-hover: var(--pc-color-neutral-200);
    --pc-input-filled-background-color-focus: var(--pc-color-neutral-100);
    --pc-input-filled-background-color-disabled: var(--pc-color-neutral-100);
    --pc-input-filled-color: var(--pc-color-neutral-800);
    --pc-input-filled-color-hover: var(--pc-color-neutral-800);
    --pc-input-filled-color-focus: var(--pc-color-neutral-700);
    --pc-input-filled-color-disabled: var(--pc-color-neutral-800);

    --pc-input-label-font-size-s: var(--pc-font-size-s);
    --pc-input-label-font-size-m: var(--pc-font-size-m);
    --pc-input-label-font-size-l: var(--pc-font-size-l);
    --pc-input-label-color: inherit;

    --pc-input-hint-font-size-s: var(--pc-font-size-xs);
    --pc-input-hint-font-size-m: var(--pc-font-size-s);
    --pc-input-hint-font-size-l: var(--pc-font-size-m);
    --pc-input-hint-color: var(--pc-color-neutral-600);

    --pc-toggle-size-s: 0.875rem; /* 14px */
    --pc-toggle-size-m: 1.125rem; /* 18px */
    --pc-toggle-size-l: 1.375rem; /* 22px */

    /* Overlays */
    --pc-overlay-background-color: rgb(27 31 36 / 70%);

    /* Panels */
    --pc-panel-background-color: var(--pc-color-neutral-50);
    --pc-panel-border-color: var(--pc-color-neutral-200);
    --pc-panel-border-width: 1px;

    /* Tooltips */
    --pc-tooltip-border-radius: var(--pc-border-radius-s);
    --pc-tooltip-background-color: var(--pc-color-neutral-200);
    --pc-tooltip-color: var(--pc-color-neutral-950);
    --pc-tooltip-font-family: var(--pc-font-sans);
    --pc-tooltip-font-weight: var(--pc-font-weight-medium);
    --pc-tooltip-font-size: var(--pc-font-size-s);
    --pc-tooltip-line-height: var(--pc-line-height-dense);
    --pc-tooltip-padding: var(--pc-spacing-xs) var(--pc-spacing-s);
    --pc-tooltip-arrow-size: 6px;

    /* Z‐index */
    --pc-z-index-drawer: 700;
    --pc-z-index-dialog: 800;
    --pc-z-index-dropdown: 900;
    --pc-z-index-toast: 950;
    --pc-z-index-tooltip: 1000;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--pc-color-neutral-0);
    transition: background-color var(--pc-transition-medium) ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    color: var(--pc-color-neutral-950);
    font-family: var(--pc-font-sans);
    font-size: var(--pc-font-size-m);
    font-weight: var(--pc-font-weight-normal);
    line-height: var(--pc-line-height-normal);
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

:is(
        address,
        audio,
        blockquote,
        dd,
        details,
        dl,
        figure,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        iframe,
        ol,
        p,
        pre,
        table,
        ul,
        video
    ):has(+ *) {
    margin: 0 0 var(--pc-spacing-xl) 0;
}
